@import url("../css/style.css");
/* ================================
        About Page Styles
================================ */

.about-grid {
    padding: 2em var(--padding-lr-small);
    gap: 1em 0;
    grid-template: max-content / 11.375rem 1fr;;
    grid-auto-rows: max-content;
    justify-self: start;
    width: 100%;
    max-width: 90rem;
    margin-inline: auto;
}

.about-img {
    margin-block-end: 1em;
    grid-row: 1;
    grid-column: 1;
    width: 100%;
}

.about-h1 { 
    grid-row: 2;
    grid-column: 1 / -1;
    align-self: end;
}

.about-h1,
.about-description,
.flex-content {
    grid-column: 1 / -1;
}

.flex-content {
    flex-direction: column;
    gap: 1em;
    width: 100%;
    max-width: 90rem;
    margin-inline: auto;
    padding-inline: var(--padding-lr-small);
    margin-block-end: 2em;
}

.about-description {
    grid-row: 3;
    align-self: start;
}

.recent-posts { margin-block-end: 2em;}

.recent-posts .blog-section {
    grid-template: max-content / repeat(auto-fit, minmax(200px, 1fr));
}

.recent-posts > h2 {
    text-align: center;
    font-size: 1rem;
}

@media (min-width: 768px) {
    .about-grid {
        width: 100%;
        padding: 2em var(--padding-lr-large);
        gap: 1em 2em;
    }
    
    .flex-content {
        padding: 0 calc(var(--padding-lr-large) * 2);
        grid-row: 3;
    }
    
    .small-h2 {
        font-size: 1.25rem;
    }
    
    .about-img {
        grid-row: 1 / 3;
        grid-column: 1;
    }
    
    .about-h1,
    .about-description {
        grid-column: 2 / -1;
    }
    
    .about-h1 {
        grid-row: 1;
    }
    
    .about-description {
        grid-row: 2;
    }
}